[submodule "app/src/main/cpp/Utils/KittyMemory"]
	path = app/src/main/cpp/Utils/KittyMemory
	url = https://github.com/MJx0/KittyMemory.git
	shallow = true
[submodule "app/src/main/cpp/Utils/And64InlineHook"]
	path = app/src/main/cpp/Utils/And64InlineHook
	url = https://github.com/Rprop/And64InlineHook.git
	shallow = true
[submodule "app/src/main/cpp/Core/imgui"]
	path = app/src/main/cpp/Core/imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true